<div class=" container p-6 my-6 ">

    <h3 class="header">News</h3>
    <ul>
        <li>Received outstanding publication award, 2021</li>
        <li>Paper accepted at ICRA'21</li>
        <li>Paper accepted at MEMOCODE'20</li>
        <li>Wip paper accepted at EMSOFT'20</li>
        <li>Paper accepted at AIAA'20</li>
        <li>Received outstanding publication award, 2019</li>
        <li>Paper accepted at EMSOFT'19</li>
        <li>Received Gattinni outstanding graduate student award, 2019</li>
    </ul>
</div>

<div class=" container p-6 my-6">
    <h3 class="header">Activities</h3>
    <ul>
        <li>Visiting Student at Simon Institute, Berkeley for the program TFCS</li>
    </ul>
</div>
