<section id="about">
    <div class="row">
        <h1 style="text-align: center; padding: 5px;">Recearch</h1><hr>
    </div>
    <div *ngIf="isValid;then content else other_content">here is ignored</div>
    <ng-template #content>
        <div class="row">
            <div class="container">
                <div class="row" >
                    <div class="col-md-4" *ngFor="let data of research_data" style="margin-bottom: 20px">
                        <div class="card">
                            <img src="assets/research.jpg" class="card-img-top" alt="..." style="height: 27rem;">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{data.name}}</h5>
                                <a (click)="ChangeToDetails(data.name, data.description)" class="btn btn-primary b-gray">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #other_content>
        <div class="row">
            <div class="container">
                <a (click)="ChangeToDetails('back', 'back')" class="btn btn-primary b-gray" style="margin-bottom: 10px;">Back to Research</a>
                <div class="card" style="padding: 10px;">
                    <h3 style="text-align: center">{{research_name}}</h3>
                    <p>{{research_desc}}</p>
                </div>
            </div>
        </div>
    </ng-template>
   
</section>