.contact-title{
    color: black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact{
    padding-top: 40px;
}

.contact-sub-title{
    text-align: center;
    font-size: 15px;
    padding-bottom: 2%;
}

.contact .contact-info-item{
    text-align: center;
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: black;
}

.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: black;
    font-weight: 400;
}