<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">RATAN LAL</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <p style="margin-top: 13px">{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12">
    <div class="sidebar">
        <app-side-news style="float:right; padding: 60px 20px;" class="col-md-3"></app-side-news>
    </div>
</div>
<router-outlet style="float:left;" class="col-md-9 container"></router-outlet>